Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vscode/
.vs/
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Audio/EIT Soundscape - Long.wav
Content/Audio/EIT_Soundscape_-_Long.uasset
